
@{
	ViewBag.Title = "InfoPediatric";
}

<h2>Electrocardiograma pediátrico</h2>

<p><span style="text-decoration: underline;"><strong>Concepto</strong></span></p>
<p>
	Es un galvan&oacute;metro que capta la presencia el sentido y la intensidad de las corrientes el&eacute;ctricas
	<br /> El registro gr&aacute;fica los potenciales el&eacute;ctricos que emanan del coraz&oacute;n
</p>
<p><span style="text-decoration: underline;"><strong>Indicaciones: </strong></span></p>
Evaluación de pacientes con cardiopatías congénitas, arritmias cardiacas, trastornos de conducción, hipertrofias de cavidades cardiacas, lesiones miocárdicas, acción e intoxicación por medicamentos, trastornos electrolíticos y alteraciones pericárdicas.

<br />
<br />

<table style="height: 169px; width: 996px;">
	<tbody>
		<tr>
			<td style="width: 449px;">
				<p><span style="text-decoration: underline;"><strong>Electrodos</strong></span></p>
				<ul>
					<li>rojo RA (brazo derecho)</li>
					<li>verde LF (pie izquierdo)</li>
					<li>negro RF (pie derecho)</li>
					<li>blanco o gris C (pecho)</li>
				</ul>
			</td>
			<td style="width: 56px;"><img src="~/Content/Images/Localización del eje del complejo QRS.PNG" alt="" width="293" height="206" /></td>
			<td style="width: 144px;"><img src="~/Content/Images/IntervaloRR.PNG" alt="" width="366" height="204" /></td>
		</tr>
		<tr>
			<td style="width: 449px;">
				<p><strong>Modo:</strong></p>
				<p>Ideal desplazamiento del papel a 25 mm seg (dato variable)</p>
				<p><strong>&nbsp;Medici&oacute;n de la FC:</strong></p>
				Ritmo regular fc 300/RR
				<p>Ritmos irregulares con la velocidad del papel a 25 contar cuantos complejos qrs hay entre 15 l&iacute;neas gruesas y multiplicar por 20 con lo que se obtendr&aacute; la FC</p>
			</td>
			<td style="width: 56px;">&nbsp;<img src="~/Content/Images/VoltajeTiempo.PNG" alt="" width="250" height="225" /></td>
			<td style="width: 144px;">&nbsp;<img src="~/Content/Images/EcgRecienNacido.PNG" alt="" width="500" height="278" /></td>
		</tr>
	</tbody>
</table>

<div style="text-align: center;">

	<table style="height:200px" width="800">
		<tbody>
			<tr>
				<td>
					<table style="height: 96px; margin:10px;" border="1">
						<tbody>
							<tr>
								<td style="padding:10px">Patr&oacute;n RR&rsquo; en V1: El patr&oacute;n de Bloqueo Incompleto de Rama Derecha tambi&eacute;n es frecuente encontrarlo durante la infancia y en j&oacute;venes, en pacientes sin cardiopat&iacute;a. Aunque si se acompa&ntilde;a de soplo cardiaco se debe descartar Comunicaci&oacute;n Interauricular.</td>
							</tr>
						</tbody>
					</table>
					<p><a href="http://www.my-ekg.com/ekg-pediatrico/ekg-pediatrico.html">http://www.my-ekg.com/ekg-pediatrico/ekg-pediatrico.html</a></p>
				</td>
				<td style="width: 366px;" vertical-align="top">
					<table width="408" border="1">
						<tbody>
							<tr>
								<td width="158">Derivaci&oacute;n QRS</td>
								<td width="96">Derivaci&oacute;n perpendicular</td>
								<td width="96">R (+) eje</td>
								<td width="58">S (-) eje</td>
							</tr>
							<tr>
								<td>DI</td>
								<td>aVF</td>
								<td>+90&deg;</td>
								<td>-90&deg;</td>
							</tr>
							<tr>
								<td>DII</td>
								<td>aVL</td>
								<td>-30&deg;</td>
								<td>+150&deg;</td>
							</tr>
							<tr>
								<td>DIII</td>
								<td>aVR</td>
								<td>-150&deg;</td>
								<td>+30&deg;</td>
							</tr>
							<tr>
								<td>aVF</td>
								<td>DI</td>
								<td>0&deg;</td>
								<td>+-180&deg;</td>
							</tr>
							<tr>
								<td>aVR</td>
								<td>DIII</td>
								<td>+120&deg;</td>
								<td>-60&deg;</td>
							</tr>
							<tr>
								<td>aVL</td>
								<td>DII</td>
								<td>+60&deg;</td>
								<td>-120&deg;</td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
		</tbody>
	</table>

</div>

<img src="~/Content/Images/PedTablas.PNG" alt="" width="720" height="550" />

<br />
<br />
<br />

<table style="height: 350px;">
	<tbody>
		<tr>
			<td style="width: 563px; text-align: center">
				<table border="1" width="400">
					<tbody>
						<tr>
							<td style="text-align: center;" colspan="5" width="400">Voltajes de las ondas Ry S seg&uacute;n la derivaci&oacute;n y la edad (p98)</td>
						</tr>
						<tr>
							<td style="text-align: center;" rowspan="2" width="80">Edad en a&ntilde;os</td>
							<td style="text-align: center;" colspan="2" width="160">mm en V1 (mm)</td>
							<td style="text-align: center;" colspan="2" width="160">mm en V6 (mm)</td>
						</tr>
						<tr>
							<td style="text-align: center;" width="80">R</td>
							<td style="text-align: center;" width="80">S</td>
							<td style="text-align: center;" width="80">R</td>
							<td style="text-align: center;" width="80">S</td>
						</tr>
						<tr>
							<td style="text-align: center;" width="80">&lt;1</td>
							<td style="text-align: center;" width="80">20,3</td>
							<td style="text-align: center;" width="80">18,1</td>
							<td style="text-align: center;" width="80">22,7</td>
							<td style="text-align: center;" width="80">7,2</td>
						</tr>
						<tr>
							<td style="text-align: center;" width="80">1</td>
							<td style="text-align: center;" width="80">17,7</td>
							<td style="text-align: center;" width="80">21</td>
							<td style="text-align: center;" width="80">22,6</td>
							<td style="text-align: center;" width="80">6,6</td>
						</tr>
						<tr>
							<td style="text-align: center;" width="80">2</td>
							<td style="text-align: center;" width="80">17,7</td>
							<td style="text-align: center;" width="80">21</td>
							<td style="text-align: center;" width="80">22,6</td>
							<td style="text-align: center;" width="80">6,6</td>
						</tr>
						<tr>
							<td style="text-align: center;" width="80">3</td>
							<td style="text-align: center;" width="80">18,2</td>
							<td style="text-align: center;" width="80">21,4</td>
							<td style="text-align: center;" width="80">24,2</td>
							<td style="text-align: center;" width="80">5,2</td>
						</tr>
						<tr>
							<td style="text-align: center;" width="80">4</td>
							<td style="text-align: center;" width="80">18,2</td>
							<td style="text-align: center;" width="80">21,4</td>
							<td style="text-align: center;" width="80">24,2</td>
							<td style="text-align: center;" width="80">5,2</td>
						</tr>
						<tr>
							<td style="text-align: center;" width="80">5</td>
							<td style="text-align: center;" width="80">13,9</td>
							<td style="text-align: center;" width="80">23,8</td>
							<td style="text-align: center;" width="80">26,5</td>
							<td style="text-align: center;" width="80">4</td>
						</tr>
						<tr>
							<td style="text-align: center;" width="80">6</td>
							<td style="text-align: center;" width="80">13,9</td>
							<td style="text-align: center;" width="80">23,8</td>
							<td style="text-align: center;" width="80">26,5</td>
							<td style="text-align: center;" width="80">4</td>
						</tr>
						<tr>
							<td style="text-align: center;" width="80">7</td>
							<td style="text-align: center;" width="80">13,9</td>
							<td style="text-align: center;" width="80">23,8</td>
							<td style="text-align: center;" width="80">26,5</td>
							<td style="text-align: center;" width="80">4</td>
						</tr>
						<tr>
							<td style="text-align: center;" width="80">8</td>
							<td style="text-align: center;" width="80">12,1</td>
							<td style="text-align: center;" width="80">25,4</td>
							<td style="text-align: center;" width="80">25,4</td>
							<td style="text-align: center;" width="80">3,9</td>
						</tr>
						<tr>
							<td style="text-align: center;" width="80">9</td>
							<td style="text-align: center;" width="80">12,1</td>
							<td style="text-align: center;" width="80">25,4</td>
							<td style="text-align: center;" width="80">25,4</td>
							<td style="text-align: center;" width="80">3,9</td>
						</tr>
						<tr>
							<td style="text-align: center;" width="80">10</td>
							<td style="text-align: center;" width="80">12,1</td>
							<td style="text-align: center;" width="80">25,4</td>
							<td style="text-align: center;" width="80">25,4</td>
							<td style="text-align: center;" width="80">3,9</td>
						</tr>
						<tr>
							<td style="text-align: center;" width="80">11</td>
							<td style="text-align: center;" width="80">12,1</td>
							<td style="text-align: center;" width="80">25,4</td>
							<td style="text-align: center;" width="80">25,4</td>
							<td style="text-align: center;" width="80">3,9</td>
						</tr>
						<tr>
							<td style="text-align: center;" width="80">12</td>
							<td style="text-align: center;" width="80">9,9</td>
							<td style="text-align: center;" width="80">21,2</td>
							<td style="text-align: center;" width="80">23</td>
							<td style="text-align: center;" width="80">3,7</td>
						</tr>
						<tr>
							<td style="text-align: center;" width="80">13</td>
							<td style="text-align: center;" width="80">9,9</td>
							<td style="text-align: center;" width="80">21,2</td>
							<td style="text-align: center;" width="80">23</td>
							<td style="text-align: center;" width="80">3,7</td>
						</tr>
						<tr>
							<td style="text-align: center;" width="80">14</td>
							<td style="text-align: center;" width="80">9,9</td>
							<td style="text-align: center;" width="80">21,2</td>
							<td style="text-align: center;" width="80">23</td>
							<td style="text-align: center;" width="80">3,7</td>
						</tr>
						<tr>
							<td style="text-align: center;" width="80">15</td>
							<td style="text-align: center;" width="80">9,9</td>
							<td style="text-align: center;" width="80">21,2</td>
							<td style="text-align: center;" width="80">23</td>
							<td style="text-align: center;" width="80">3,7</td>
						</tr>
					</tbody>
				</table>
			</td>
			<td style="width: 371px; text-align: center">
				&nbsp;
				<table border="1" width="500">
					<tbody>
						<tr>
							<td style="text-align: center;" rowspan="2" width="92">Neonatos / lactantes</td>
							<td style="text-align: center;" colspan="2" width="294">mm en V1 (mm)</td>
							<td style="text-align: center;" colspan="2" width="192">mm en V6 (mm)</td>
						</tr>
						<tr>
							<td style="text-align: center;" width="136">R</td>
							<td style="text-align: center;" width="158">S</td>
							<td style="text-align: center;" width="96">R</td>
							<td style="text-align: center;" width="96">S</td>
						</tr>
						<tr>
							<td style="text-align: center;" width="92">0- 1 d&iacute;as</td>
							<td style="text-align: center;" width="136">26,1</td>
							<td style="text-align: center;" width="158">22,7</td>
							<td style="text-align: center;" width="96">11,1</td>
							<td style="text-align: center;" width="96">9,6</td>
						</tr>
						<tr>
							<td style="text-align: center;" width="92">1- 2 d&iacute;as</td>
							<td style="text-align: center;" width="136">26,9</td>
							<td style="text-align: center;" width="158">20,7</td>
							<td style="text-align: center;" width="96">12,2</td>
							<td style="text-align: center;" width="96">9,4</td>
						</tr>
						<tr>
							<td style="text-align: center;" width="92">3-6 d&iacute;as</td>
							<td style="text-align: center;">24,2</td>
							<td style="text-align: center;">16,8</td>
							<td style="text-align: center;">12,1</td>
							<td style="text-align: center;">9,8</td>
						</tr>
						<tr>
							<td style="text-align: center;" width="92">7-28 d&iacute;as</td>
							<td style="text-align: center;">20,8</td>
							<td style="text-align: center;">10,8</td>
							<td style="text-align: center;">16,4</td>
							<td style="text-align: center;">9,8</td>
						</tr>
						<tr>
							<td style="text-align: center;" width="92">1- 2 meses</td>
							<td style="text-align: center;">18,4</td>
							<td style="text-align: center;">12,4</td>
							<td style="text-align: center;">21,4</td>
							<td style="text-align: center;">6,4</td>
						</tr>
						<tr>
							<td style="text-align: center;" width="92">3-5 meses</td>
							<td style="text-align: center;">19,8</td>
							<td style="text-align: center;">17,1</td>
							<td style="text-align: center;">22,4</td>
							<td style="text-align: center;">9,9</td>
						</tr>
						<tr>
							<td style="text-align: center;" width="92">6 - 11 meses</td>
							<td style="text-align: center;">20,3</td>
							<td style="text-align: center;">18,1</td>
							<td style="text-align: center;">22,7</td>
							<td style="text-align: center;">7,2</td>
						</tr>
					</tbody>
				</table>
			</td>
			<td style="width: 375px; text-align: center">
				&nbsp;
				<table border="1" width="186" style="margin:12px">
					<tbody>
						<tr>
							<td style="text-align: center;" rowspan="2" width="58">Edad en a&ntilde;os</td>
							<td style="text-align: center;" colspan="2" width="128">Intervalo PR (seg)</td>
						</tr>
						<tr>
							<td style="text-align: center;" width="64">L&iacute;mite inferior&nbsp;</td>
							<td style="text-align: center;" width="64">L&iacute;mite superior</td>
						</tr>
						<tr>
							<td style="text-align: center;" width="58">&lt;1</td>
							<td style="text-align: center;" width="64">0,08</td>
							<td style="text-align: center;" width="64">0,15</td>
						</tr>
						<tr>
							<td style="text-align: center;" width="58">1</td>
							<td style="text-align: center;" width="64">0,08</td>
							<td style="text-align: center;" width="64">0,16</td>
						</tr>
						<tr>
							<td style="text-align: center;" width="58">2</td>
							<td style="text-align: center;" width="64">0,08</td>
							<td style="text-align: center;" width="64">0,15</td>
						</tr>
						<tr>
							<td style="text-align: center;" width="58">3</td>
							<td style="text-align: center;" width="64">0,1</td>
							<td style="text-align: center;" width="64">0,16</td>
						</tr>
						<tr>
							<td style="text-align: center;" width="58">4</td>
							<td style="text-align: center;" width="64">0,1</td>
							<td style="text-align: center;" width="64">0,16</td>
						</tr>
						<tr>
							<td style="text-align: center;" width="58">5</td>
							<td style="text-align: center;" width="64">0,1</td>
							<td style="text-align: center;" width="64">0,16</td>
						</tr>
						<tr>
							<td style="text-align: center;" width="58">6</td>
							<td style="text-align: center;" width="64">0,1</td>
							<td style="text-align: center;" width="64">0,16</td>
						</tr>
						<tr>
							<td style="text-align: center;" width="58">7</td>
							<td style="text-align: center;" width="64">0,1</td>
							<td style="text-align: center;" width="64">0,16</td>
						</tr>
						<tr>
							<td style="text-align: center;" width="58">8</td>
							<td style="text-align: center;" width="64">0,1</td>
							<td style="text-align: center;">0,17</td>
						</tr>
						<tr>
							<td style="text-align: center;" width="58">9</td>
							<td style="text-align: center;" width="64">0,1</td>
							<td style="text-align: center;" width="64">0,17</td>
						</tr>
						<tr>
							<td style="text-align: center;" width="58">10</td>
							<td style="text-align: center;" width="64">0,1</td>
							<td style="text-align: center;">0,17</td>
						</tr>
						<tr>
							<td style="text-align: center;" width="58">11</td>
							<td style="text-align: center;" width="64">0,1</td>
							<td style="text-align: center;" width="64">0,17</td>
						</tr>
						<tr>
							<td style="text-align: center;" width="58">12</td>
							<td style="text-align: center;" width="64">0,1</td>
							<td style="text-align: center;" width="64">0,18</td>
						</tr>
						<tr>
							<td style="text-align: center;" width="58">13</td>
							<td style="text-align: center;" width="64">0,1</td>
							<td style="text-align: center;" width="64">0,18</td>
						</tr>
						<tr>
							<td style="text-align: center;" width="58">14</td>
							<td style="text-align: center;" width="64">0,1</td>
							<td style="text-align: center;" width="64">0,18</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
	</tbody>
</table>

<br />
<br />

<table style="height: 151px; width: 1014px;">
	<tbody>
		<tr>
			<td style="width: 259px;">&nbsp;<img src="~/Content/Images/MorfologiasPatologicas.PNG" width="583" height="247" /></td>
		</tr>
	</tbody>
</table>

<br />
<br />

<p><strong>Referencias</strong></p>
<p>1. <em>P&eacute;rez-Lescure Picarzo FJ. Gu&iacute;a r&aacute;pida para la lectura sistem&aacute;tica del ECG pedi&aacute;trico</em>. Revista Pediatr&iacute;a de Atenci&oacute;n Primaria Volumen VIII. N&uacute;mero 30. Abril/junio 2006</p>
<p>2.&nbsp;<em>P&eacute;rez-Lescure Picarzo FJ. Gu&iacute;a r&aacute;pida para la lectura sistem&aacute;tica del ECG pedi&aacute;trico</em>. 2da Edic. En: AEPap ed. Curso de Actualizaci&oacute;n Pediatr&iacute;a 2010. Madrid: Exilibris Ediciones; 2010. p. 155-62.</p>

<br />
<br />

@Html.ActionLink("Regresar a la portada", "NuevoECG")

